alias l='ls -lah'

# ack is http://betterthangrep.com
alias ack='ack-grep'
alias erln='erl -noshell'
alias ns='netstat -tulpen | grep '

alias clear='echo "dont do that, use CTRL-L instead!"'

# this damn shutdown thing annoys me anytime I'm forced to do this, so stop it!
alias poweroff='sudo shutdown -h now'
alias feierabend='poweroff'

alias g='git'
alias gpom='git push origin master'
alias gs='git status'

# hash directories
hash -d w=~/Workspace
hash -d t=~/Workspace/talks
hash -d app=/var/www/app
hash -d log=/var/log
hash -d init=/etc/init.d

alias "phpstorm"="~/bin/PhpStorm-121.215/bin/phpstorm.sh >/dev/null 2>&1 &"

GITHUB="https://github.com/domnikl"

if `which google-chrome > /dev/null`; then
	alias gh="google-chrome '$GITHUB' >/dev/null 2>&1"
else
	alias gh="open '$GITHUB'"
fi

