alias attach='screen -U -d -R'

alias l='ls -lah'

# ack is http://betterthangrep.com
alias ack='ack-grep'
alias erln='erl -noshell'
alias please='sudo !!'

alias clear='echo "dont do that, use CTRL-L instead!"'

# this damn shutdown thing annoys me anytime I'm forced to do this, so stop it!
alias poweroff='sudo shutdown -h now'

alias g='git'
alias gs='git status'
alias gl='git log'
