[diff]
	color = auto
	rename = copy

[pager]
	color = true

[status]
	color = true

[alias]
	pom = push origin master
[user]
	name = Dominik Liebler
	email = liebler.dominik@googlemail.com
[color]
	diff = auto
