[diff]
	color = auto
	rename = copy

[pager]
	color = true

[status]
	color = true

[alias]
  st = status
  ci = commit
  co = checkout
  cim = commit -m
  cam = commit -am
	pom = push origin master
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all

  zopa = !git log --graph --decorate --pretty=oneline --abbrev-commit --all $(git fsck --no-reflogs | grep commit | cut -d\\  -f3)

  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\t=> \\2/' | sort
  ignore = !([ ! -e .gitignore ] && touch .gitignore) | echo $1 >>.gitignore

  up = svn rebase
  dci = svn dcommit

[user]
	name = Vytis Valentinavičius
	email = xytis2000@gmail.com
[color]
	diff = auto
	ui = auto
[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
[github]
	user = xytis
